Pre define functions

anyName() #pre define function

ref.anyName() # Pre define method

ref.anyName # Attributes

# Operators

# Control Flow

In [7]:
print("Faisal@073")

Faisal@073

In [2]:
a = "FaiSal.sHeikh"
print(a)
print(type(a))

FaiSal.sHeikh
<class 'str'>

# String Class Method and Attributes

In [55]:
a = "Engg FaiSal sheikh"
print(a)

Engg FaiSal sheikh

In [60]:
a.capitalize()

'Engg faisal sheikh'

In [61]:
a.casefold()

'engg faisal sheikh'

In [62]:
a.count('g')

2

In [63]:
a.encode()

b'Engg FaiSal sheikh'

In [71]:
a.endswith('h')

True

In [72]:
a.endswith('k')

False

In [82]:
a.expandtabs()

'Engg FaiSal sheikh'

In [86]:
a.find('Sal')

8

In [103]:
b = '{Month}, {Day}, {Year}'
b.format(Month='May', Day='23', Year='2019')

'May, 23, 2019'

In [104]:
b.index('D')

10

In [105]:
c="abc123"
c.isalnum()

True

In [107]:
a.isalnum()

False

In [112]:
a.isascii()

True

In [116]:
d="6Â 918Â 417Â 712"
d.isascii()

False

In [117]:
a.upper()

'ENGG FAISAL SHEIKH'

In [118]:
a.title()

'Engg Faisal Sheikh'

In [119]:
print(a)

Engg FaiSal sheikh

In [120]:
a.lower()

'engg faisal sheikh'

In [124]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [125]:
print?

In [126]:
a.center??

In [127]:
abc = """
Faisal Engineering Company
City: Karachi
Country: Pakistan
"""

print(abc)

Faisal Engineering Company
City: Karachi
Country: Pakistan

In [128]:
abc = '''
Faisal Engineering Company
City: Karachi
Country: Pakistan
'''

print(abc)

Faisal Engineering Company
City: Karachi
Country: Pakistan

In [129]:
abc = """
*******PIAIC********
Faisal Engineering Company
Name: Muhammad Faisal
Father's Name: Muhammad Naeem
Employee ID: 786
"""

print(abc)

*******PIAIC********
Faisal Engineering Company
Name: Muhammad Faisal
Father's Name: Muhammad Naeem
Employee ID: 786

In [130]:
name = "Muhammad Faisal"
father_name = "Muhammad Naeem"
employee_id = 786

abc = """
*******PIAIC********
Faisal Engineering Company
Name: {}
Father's Name: {}
Employee ID: {}
"""

print(abc.format(name,father_name, employee_id))

*******PIAIC********
Faisal Engineering Company
Name: Muhammad Faisal
Father's Name: Muhammad Naeem
Employee ID: 786

In [133]:
a=print("pakistan")
print(a)

pakistan
None

In [147]:
f=input("Enter name")
f

Enter nameFaisal Sheikh

'Faisal Sheikh'

In [148]:
name = input("Enter your name")
father_name = input("Enter your Father's Name")
employee_id = input("Enter your Employee ID")

abc = """
*******PIAIC********
Faisal Engineering Company
Name: {}
Father's Name: {}
Employee ID: {}
"""

print(abc.format(name, father_name, employee_id))

Enter your nameMuhammad Faisal
Enter your Father's NameMuhammad Naeem
Enter your Employee ID4949

*******PIAIC********
Faisal Engineering Company
Name: Muhammad Faisal
Father's Name: Muhammad Naeem
Employee ID: 4949

In [150]:
a = "Muhammad"
b = "FaisalSheikh"

a + b #Concatinact

'MuhammadFaisalSheikh'

In [151]:
a = 5
b = 7
a + b # Addition

12

In [154]:
5 + 7

12

# Operators

# Pemdas
+, -, * , /, %, //, ** # Mathmatics

=, +=, -=, *=, /=, %= # Assign Operator

==, >, <, >=, <=, != # Logical Operator

and, or # Combine logic checking

# # +, -, * , /, %, // # Mathmatics

In [155]:
5 + 2

7

In [156]:
4 - 2

2

In [157]:
3 * 5

15

In [158]:
12 / 3

4.0

In [159]:
15 % 4

3

In [160]:
15 / 4

3.75

In [161]:
15 // 4

3

In [162]:
15 // 4.0

3.0

In [163]:
# 2 * 2 * 2 = 8
2 ** 3

8

In [164]:
2 + 6 * 8 / 5 + (2*3)

17.6

In [56]:
5 + 9 * 16 // 8 + (9*4)**3 - (12 + 3) + (6-4) * 2 / 8 - 6 + 9 + (12*6) + 3 - (10 % 8)

46740.5

5 + 9 * 16 // 8 + (9*4)**3 - (12 + 3) + (6-4) * 2 / 8 - 6 + 9 + (12*6) + 3 - (10 % 8)

5 + 9 * 16 // 8 + (36)**3 - (15) + (2) * 2 / 8 - 6 + 9 + (72) + 3 - (2)

5 + 9 * 16 // 8 + 46656 - 15 + 2 * 2 / 8 - 6 + 9 + 72 + 3 - 2

5 + 144 // 8 + 46656 - 15 + 4 / 8 - 6 + 9 + 72 + 3 - 2

5 + 18 + 46656 - 15 + 0.5 - 6 + 9 + 72 + 3 - 2

5 + 18 + 46656 + 0.5 + 9 + 72 + 3 - 15 - 6 - 2 

23 + 46656 + 0.5 + 9 + 72 + 3 - 15 - 6 - 2 

46679 + 0.5 + 9 + 72 + 3 - 15 - 6 - 2 

46679 + 0.5 + 84 - 15 - 6 - 2 

46763.5 - 15 - 6 - 2 

46763.5 - 23

46740.5

# =, +=, -=, *=, /=, %=, **= # Assign Operator

In [172]:
a = "Pakistan"
a

'Pakistan'

In [173]:
a = 'china'
a

'china'

In [174]:
a * 2

'chinachina'

In [2]:
a = "abc"
a

'abc'

In [3]:
a += " xyz"
a

'abc xyz'

In [4]:
a *= 2
a

'abc xyzabc xyz'

In [8]:
a %= 2

TypeError: not all arguments converted during string formatting

In [28]:
a = 15
a %= 4
a

3

In [29]:
#3 * 3 * 3
a **= 3
a

27

# ==, >, <, >=, <=, !=, <> # Logical Operator

In [30]:
5 == 5

True

In [31]:
5 == 3

False

In [32]:
5 > 3

True

In [33]:
5 < 3

False

In [34]:
5 > 5

False

In [35]:
5 >= 5

True

In [36]:
5 != 5

False

In [38]:
6 < 6

False

In [39]:
6 <= 6

True

In [40]:
5 == 5 and 6 <= 7 and 10 >= 9
# True and True and True
# True

True

In [41]:
5 == 5 and 9 <= 7 and 10 >= 9
# True and False and True
# False

False

In [42]:
5 == 5 or 6 <= 7 or 10 >= 9
# True or True or True
# True

True

In [43]:
5 == 7 or 6 <= 7 or 10 >= 11
# False or True or False
# True

True

In [44]:
True | False # OR

True

In [45]:
True & True & False # AND

False

In [46]:
a = 'abc'
b = 'xyz'
c = '27'

a + b + c

'abcxyz27'

In [47]:
a = 'abc'
b = 'xyz'
c = '27'

print(a,b,c)

abc xyz 27

In [48]:
a = 'abc'
b = 'xyz'
c = 27

a + b + c

TypeError: can only concatenate str (not "int") to str

In [49]:
a = 'abc'
b = 'xyz'
c = 27

print(a,b,c)

abc xyz 27

In [50]:
a = 'abc'
b = 'xyz'
c = 27

a + b + str(c)

'abcxyz27'

In [51]:
a = '1'
b = '1'
a + b

'11'

In [53]:
a = input("enter 1st number")
b = input("enter 1st number")

a + b

enter 1st number10
enter 1st number30

'1030'

In [57]:
int(a) + int(b)

40

In [58]:
float(a) + float(b)

40.0

In [59]:
a+b

'1030'

In [60]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Control Flow

loop (for , while) exception if else elif switch


# If, else, elif
if logic: true value else: false value if logic1: true value 1 elif logic2: true value 2 elif logic3: true value 3 else: false valueif logic1 and logic2 and logic3: value true else: false value